<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1">
<meta name="format-detection" content="telephone=no">
<title>Unit query</title>
<style>
body {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
  font-family: Noto Serif, serif;
}
h2 { border-bottom: thin solid black; }
</style>
</head>
<body>

<form>
<label>Query<input value="{{ .Query.Query }}" name=query></label>
<label>ID<input value="{{ .Query.ID }}" type=number name=id></label>
<label>Limit<input value="{{ .Query.Limit }}" type=number name=limit></label>
<input type="button" value="New search" onclick="form['id'].value = 0; form.submit();">
{{ if eq (len .Units) .Query.Limit }}
<input value="Next records" type=submit>
{{ end }}
</form>

<h1>Listing {{ len .Units }} units</h1>
{{range .Units}}
<h2 id="{{.ID}}">{{.Name}}</h2>
<p>{{ .Description }}</p>
{{- end}}
</body>
</html>
