<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<script>
	function toggle() {
		checkboxes = document.getElementsByName('ids');
		for(var i=0, n=checkboxes.length;i<n;i++) {
			checkboxes[i].checked = !checkboxes[i].checked;
		}
	}
</script>
<title>Unit query</title>
<style>
body {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
  font-family: Noto Serif, serif;
}
h2 { border-bottom: thin solid black; }
</style>
</head>
<body>

<form>
<label>Query<input value="{{ .Query.Query }}" name=query></label>
<label>Cursor<input value="{{ cursor .Units }}" type=number name=cursor></label>
<label>Limit<input value="{{ .Query.Limit }}" type=number name=limit></label>
<input type="button" value="New search" onclick="form['cursor'].value = 0; form.submit();">
{{ if eq (len .Units) .Query.Limit }}
<input value="Next records" type=submit>
{{ end }}
</form>

<h1>Listing {{ len .Units }} units</h1>


<form action="/delete" method="post">
<input value="{{ $.Query.Limit }}" type=hidden  name=limit>
<input value="{{ $.Query.Query }}" type=hidden name=query>
<input value="{{ $.Query.Cursor }}" type=hidden name=cursor></label>
<input value="Delete" type=submit>
<input type="button" value="Toggle" onclick="toggle();">


{{range .Units}}
<h2 id="{{.ID}}">
<label><input type="checkbox" name="ids" value="{{.ID}}">{{.Name}}
</label></h2>
<p>{{ .Description }}</p>
{{- end}}
</form>


</body>
</html>
